# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#

# Log files
*.log

# htaccess
/.htaccess

/.DS_Store