@use 'variables' as vars;


main {

    margin-block-start: 0 !important;
    
    &.wp-block-group {
        padding: 0;
    }

}

.container-fluid {
    max-width: none !important;
}

img {

    max-width: 100%;
    height: auto;

}

.u-faux-box-link {
    position: relative;
}

// Overlay styling
.u-faux-box-link__overlay {
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;

    text-indent: 200%;
    white-space: nowrap;

    background: transparent;
    z-index: 2;
}

.header_title {
    border: 1px solid rgba(vars.$black, .2);
    border-radius: 20px;
    color: vars.$orange;
    width: fit-content;
    padding: 5px 15px;
    text-transform: uppercase;
    &.centered {
        margin: 0 auto;
    }
}