@use 'sass:map'; // Importa el módulo de mapas de Sass
@use 'sass:math'; // Importa el módulo matemático de Sass

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$heading-font: 'Fira Sans', sans-serif;
$body-font: 'Fira Sans', sans-serif;

// Brand colours
$white: #FFFFFF;
$black: #1A1A1A;
$orange: #EE7321;
$grey: #666666;
$lightgrey: #D7D7D7;

$colours: (
  "white": $white,
  "black": $black,
  "orange": $orange,
  "grey": $grey,
  "lightgrey": $lightgrey,
);

body {
  .has-text-color {
    &.has {
      &-white-color {
        color: map.get($colours, "white") !important;
      }

      &-black-color {
        color: map.get($colours, "black") !important;
      }

      &-orangee-color {
        color: map.get($colours, "orange") !important;
      }

      &-lightgrey-color {
        color: map.get($colours, "lightgrey") !important;
      }

      &-grey-color {
        color: map.get($colours, "grey") !important;
      }
    }
  }
}

// Font weight
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;

// Font sizes
$font-sizes: (
  "body": 16px,
  "body2": 14px,
  "btn": 16px,
  "t21": 21px,
  "h1": 56px,
  "h1Tab": 56px,
  "h1Mob": 46px,
  "h2": 42px,
  "h2Tab": 38px,
  "h2Mob": 28px,
  "h3": 28px,
  "h3Tab": 28px,
  "h3Mob": 22px,
  "h4": 22px,
  "h4Mob": 18px,
  "h5": 22px,
  "h5Mob": 18px,
  "h6": 19px,
);

$body: map.get($font-sizes, "body");
$body2: map.get($font-sizes, "body2");
$btn: map.get($font-sizes, "btn");
$t21: map.get($font-sizes, "t21");
$h1: map.get($font-sizes, "h1");
$h1Tab: map.get($font-sizes, "h1Tab");
$h1Mob: map.get($font-sizes, "h1Mob");
$h2: map.get($font-sizes, "h2");
$h2Tab: map.get($font-sizes, "h2Tab");
$h2Mob: map.get($font-sizes, "h2Mob");
$h3: map.get($font-sizes, "h3");
$h3Tab: map.get($font-sizes, "h3Tab");
$h3Mob: map.get($font-sizes, "h3Mob");
$h4: map.get($font-sizes, "h4");
$h4Mob: map.get($font-sizes, "h4Mob");
$h5: map.get($font-sizes, "h5");
$h5Mob: map.get($font-sizes, "h5Mob");
$h6: map.get($font-sizes, "h6");

// Line height
$line-h-body: 25px;

// Container margin
$container-margin: calc(-15px - ((100vw - 1400px) / 2));
$container-margin-left: calc(15px + ((100vw - 1400px) / 2));