@use '../variables' as vars;

.home {
    &__main_title {

        padding-top: 100px;
        margin-bottom: 100px;

        .wp-block-heading{
            font-size: 80px !important;
            span {
                color: vars.$orange;
            }
        }

        .wp-block-image {
            max-height: 250px;
            img {
                max-height: 250px;
                object-fit: contain;
            }
        }
    }

    &__whatwedo {
        padding-top: 100px;
        padding-bottom: 50px;
        background-color: #F7F8FA !important;
        &--row{ 
            &.grid {  
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 40px;
                @include media-breakpoint-down(xl) {
                    grid-template-columns: repeat(2, 1fr);
                }
                @include media-breakpoint-down(md) {
                    grid-template-columns: repeat(1, 1fr);
                }
                .col {
                    background-image:url('../../assets/images/bg/arrow_bg.png') !important;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    padding: 5% 5% 5% 20%;
                    display: flex;
                    flex-direction: column;
                    align-items: self-start;
                    .number {
                        position: absolute;
                        margin-top: -35px;
                        margin-left: 120px;
                    }
                }
            }
        }
    }

    &__aboutus {

        padding-top: 100px;
        margin-bottom: 100px;

        > .row {
            .col {
                &:nth-child(2) {
                    .wp-block-image {
                        img {
                            background-blend-mode: multiply !important;
                            &::after{
                                content: "";
                                background-image: url('../../assets/images/bg/arrow_bg.png');
                            }
                        }
                    }
                }
            }
        }

    }

    &__video-ship {
        max-height: 450px;
        overflow: hidden;
        video {
            object-fit: contain;
        }
    }

    &__brands-grid {
        > .row {
            display: grid;
            grid-template-columns: repeat(5,1fr);
            .col {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid vars.$lightgrey;
                padding: 25px 0 5px;
            }
        }
    }

    &__testimonials {
        padding-top: 100px;
        margin-bottom: 100px;
        .grid {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 60px;
            .col {
                background-color: #F7F8FA !important;
                padding: 40px;
                img{
                    float: right;
                }
                &::before {
                    content: "";
                    background-image: url('../../assets/images/icons/corner.png');
                    position: absolute;
                    position: absolute;
                    width: 80px;
                    height: 80px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    margin-top: -40px;
                    margin-left: -40px;
                }
            }
        }
    }

    &__blogposts {
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: #F7F8FA !important;
        ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px; 
            li {
                border: 1px solid vars.$lightgrey;
                .wp-block-group {
                    padding-top: 60px !important;
                    .wp-block-post {
                        &-date {
                            position: relative;
                            margin-bottom: -50px;
                            margin-top: -20px;
                            z-index: 9;
                            width: fit-content;
                            margin-left: 20px;
                            background-color: #F7F8FA;
                            padding: 5px;
                            font-weight: bold;
                        }
                        &-title {
                            font-size: 24px;
                            font-weight: bold;
                            clear: both;
                            a{
                                color: vars.$black;
                            }
                        }
                        &-author-name,
                        &-terms {
                            display: inline-block;
                            width: fit-content;
                        }
                        &-author-name {
                            float: left;
                            color: vars.$grey;
                        }
                        &-terms {
                            float: right;
                            a {
                                color: vars.$orange;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.home-container {
    padding-top: 100px;
    .swiper {
        &-wrapper {
            .swiper-slide {
                height: 100vh;
                .wp-block-image img {
                    width: 100%;
                    height: 70vh;
                    object-fit: cover;
                }
            }
        }
    }
}

.main-swiper {
    height: 600px;
    width: 100%;
}
  
.thumbnail-swiper {
    .swiper-wrapper {
        background-color: vars.$orange !important;
        padding: 10px;
        height: 110px;
        width: auto;
        .wp-block-image img {
            height: 110px !important;
        }
    } 
}