@use '../variables' as vars;

.btn {

    &.btn-primary {

    }

    &.btn-secondary {
        
    }

    &.btn-outline {
        border: 1px solid rgba(vars.$black, .2);
        border-radius: 20px;
    }

    &.btn-email {
        background-image: url('../../assets/images/icons/email_icon.svg');
        width: 40px;
        height: 25px;
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
        &:hover {
            opacity: .7;
            transition: all .3s ease-in-out;
        }
    }

    &.btn-link {
        color: vars.$black;
        font-weight: 500;
        text-decoration: none;
        &:hover {
            color: vars.$orange;
            transition: all .3s ease-in-out;
        }
    }

}

.wpcf7-form-control.wpcf7-submit {
    background-color: vars.$orange;
    border-radius: 5px;
    border: none;
    padding: 5px 20px;
    color: vars.$white;
}