.btn {

    &.btn-primary {

    }

    &.btn-secondary {
        
    }

    &.btn-outline {
        border: 1px solid rgba($black, .2);
        border-radius: 20px;
    }

    &.btn-email {
        background-image: url('../../assets/images/icons/email_icon.svg');
        width: 40px;
        height: 25px;
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
        &:hover {
            opacity: .7;
            transition: all .3s ease-in-out;
        }
    }

    &.btn-link {
        color: $black;
        font-weight: 500;
        text-decoration: none;
        &:hover {
            color: $orange;
            transition: all .3s ease-in-out;
        }
    }

}