@use '../variables' as vars;

.footer-content {

    background-color: vars.$black ;
    color: vars.$white;
    margin: 0;
    padding: 50px 20px 0px 20px;

    font-size: small;

    p {
        color: vars.$grey;
    }

    .wpcf7-submit {
        float: right;
        margin-top: -50px;
        z-index: 9;
        position: relative;
        margin-right: 18px;
    }

    .content_above{
        padding-bottom: 30px;
    }

    .content-below {
        .col {
            border: 1px solid vars.$grey;
            padding: 25px 0;
            p {
                margin-bottom: 0;
            }
            a {
                color: vars.$orange;
            }
        }
        margin-bottom: -30px;
    }

}