@use '../variables' as vars;

.header {

    .nav {
        li {
            .nav-link {
                font-weight: 500;
                &.active {
                    color:vars.$orange !important;
                }
                &:hover {
                    color: vars.$orange !important;
                    transition: all .3s ease-in-out;
                }
            }
        }
    }

}
